<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>ASIGNAR</title>
	<script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>

	<h3>Asignar pasajero</h3>

		<input type="text" name="ID_PASAJERO" id="I_P" placeholder="ID PASAJERO">

		<br><br>

		<input type="text" name="ID_AERONAVE" id="I_A" placeholder="ID AERONAVE">

		<br><br>

		<button type="submit" id="boton">
			Confirmar
		</button>


</body>
<script>
$('#boton')
.click(function(e){
id_pasajero = document.getElementById('I_P').value;
id_aeronave = document.getElementById('I_A').value;
var alien = '{"id_pasajero": '+id_pasajero+', "id_aero": '+id_aeronave+'}';
json =JSON.parse(alien)
console.log(json)
$.ajax({
	data: json,
	url: 'http://localhost:4242/Viaje',
	crossDomain: true,
	withCredentials:false,
	type: 'post',
	beforeSend: function(){
			window.alert("Procesando, espere porfavor...");
	},
	success: function (response){
		console.log(response);
	},
	error: function(){
		alert("Hubo algun tipo de error.");
	}
	});
});
</script>
</html>
