<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>NODRIZA</title>
</head>
<body>

	<h3>Crear nave nodriza</h3>

	<form action="/procesar" method="post">

		<input type="text" name="ID_NODRIZA" id="I_N" placeholder="ID NAVE NODRIZA">
		
		<br><br>

		<input type="text" name="NOMBRE" id="N_N" placeholder="NOMBRE NAVE NODRIZA">

		<br><br>

		<input type="submit">

		<a href="/index">   atras</a>

	</form>

</body>
</html>